<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DeskAssistantDialog">
		<title>Desktop Assistant</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxSYSTEM_MENU|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL1" variable="m_pLcFiles" member="yes">
					<size>320,200</size>
					<style>wxLC_REPORT</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="yes">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="m_btnPreview" member="yes">
							<label>&amp;Preview</label>
							<handler function="OnBtnPreviewClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON3" variable="m_btnRun" member="yes">
							<label>&amp;Run</label>
							<handler function="OnBtnRunClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_ABOUT" variable="Button1" member="yes">
							<label>About</label>
							<handler function="OnAbout" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CLOSE" variable="Button2" member="yes">
							<label>Quit</label>
							<handler function="OnQuit" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>4</border>
			</object>
		</object>
	</object>
</wxsmith>
